<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
<connectionStrings>
    <add name="tablolarEntities" connectionString="metadata=res://*/Database.WCFModel.csdl|res://*/Database.WCFModel.ssdl|res://*/Database.WCFModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;database=tablolar&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>

	  <services>
		  <service name="WCFUygulama.Presentation.Services.UserService" behaviorConfiguration="WCFUygulama_Behavior">
			  <endpoint name="" binding="webHttpBinding"
    contract="WCFUygulama.Presentation.IUserService"></endpoint></service>
		   <service name="WCFUygulama.Presentation.Services.ProjectService" behaviorConfiguration="WCFUygulama_Behavior">
			  <endpoint name="" binding="webHttpBinding"
    contract="WCFUygulama.Presentation.IProjectService"></endpoint>
		  </service>

		  
		  
	  </services>
	  
	  
	  <behaviors>
    <endpointBehaviors>
     <behavior name="">
      <webHttp />
     </behavior>
    </endpointBehaviors>
    <serviceBehaviors>
     <behavior name="WCFUygulama_Behavior">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>
     <behavior name="">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>
    </serviceBehaviors>
   </behaviors>
    <protocolMapping>
        <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.15.1.0" newVersion="3.15.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
</configuration>
